body {
	font-size: 16px;
	color: black;
	font-family:'Oxygen', sans-serif;
	
}
.navbar-header {
	width: 100%;
	background-color: gray;
	border-radius: 0;
	border: 3px solid black;
}

.navbar-brand h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .75;
}
a.navbar-nav {
	border-color: black;
}
a.text-center.visible-xs {
	border-bottom: black;
}

h1 {
	
	font-size: 1.3em;
	font-weight: bold;
}
h2 {
	text-align: center;
	font-size: 1em;
	font-weight: bold;

}


p  {
	line-height: 1.5;
	height: 1200px;
}
.chicken {
	background-color: gray;
	padding: 0px 15px 0 15px;
	margin: 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
a.navbar-nav  {
	color: black;
}
