body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
/*.main-content.main-section {
	height: 100vh;
	
}*/
.mySlides {
    display: none;
    height: 100vh;
    width: auto;

}
.bg1, .bg2, .bg3, .bg4, .bg5 {
	/* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1 {
	 background-image: url("../images/main1.jpg");
}
.bg2 {
	 background-image: url("../images/main2.jpg");
}
.bg3 {
	 background-image: url("../images/main3.jpg");
}
.bg4 {
	 background-image: url("../images/main4.jpg");
}
.bg5 {
	 background-image: url("../images/main5.jpg");
}	 
.bg6 {
	 padding: 40px 40px 0px 40px;
}
.bg7 {
	padding-left: 0;
}
.bg8 {
	padding-right: 0;
}
.bg6_about_me {
	padding-top: 30px;
}

/*******NAVIGATION********/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.pull-right {
	padding: 40px 50px;
	font-size: 50px;
	color: white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
	font-family: 'Tangerine', cursive;
	font-size: 110px;
	
}
.photography {
	font-family: serif;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: -20px;
	text-align: center;
	
}
.name a {
	position: absolute;
	top: 0;
	overflow: hidden;
	color: #ffffcc;
	padding: 0px 50px;
	

}
.nav {
	width: 100%;
	background-color: gray;
	padding-bottom: 20px;

}


.explore {
	position: absolute;
	bottom: 0px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	padding: 15px;
}
span {
	color: white;
	font-size: 20px;
}
a:hover  {
	text-decoration: none;
}
h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 15px;
}
p {
	font-size: 20px;
	/*padding: 5px;*/
	text-align: center;
}
.more {
	font-style: italic;
	color: black;
	padding-top: 20px;
	color: gray;
}

.p_about_me {
	padding-right: 15px;
	padding-left: 15px;
	text-align: justify;

}

/*************FOOTER***************/
.text-center {
	font-style: italic;
	font-size: 1.2em;
	
}
#footer {
	background-color: gray;
	color: #ffffe6; 
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/**************** Large devices only ***************/
@media (min-width: 1500px) {}

/**************** Medium devices only **************/
@media (min-width: 992px) and (max-width: 1199px) {}

/**************** Small devices only ***************/
@media (min-width: 768px) and (max-width: 991px) {
	.bg6, .bg7, .bg8 {
	padding-left: 0;
	padding-right: 0;
    }
    .bg6_about_me {
	padding-top: 0px;
    }
    .about_me {
	margin: 0;
	padding: 0;
}
}

/**************** Extra small devices only *********/
@media (max-width: 767px) {
	.name {
		padding-left: 10px;
	}
	h1{
		font-size: 80px;
		margin-top: 0px;

	}

	.pull-right {
	padding-right: 10px;	
	}
	.bg1 {
	 background-image: url("../images/main1.jpg");
}
.bg2 {
	 background-image: url("../images/main2_mob.jpg");
}
.bg3 {
	 background-image: url("../images/main3_mob.jpg");
}
.bg4 {
	 background-image: url("../images/main4_mob.jpg");
}
.bg5 {
	 background-image: url("../images/main5_mob.jpg");
}	
.col-xxs-12 {
		position: relative;
        min-height: 1px;
        /*padding-right: 15px;
        padding-left: 15px;*/
        float: left;
        width: 100%;
	} 
.bg6, .bg7, .bg8 {
	padding-left: 0;
	padding-right: 0;
}

.about_me {
	margin: 0;
	padding: 0;
}	
.bg6_about_me {
	padding-top: 0px;
}
}