body, html {
    height: 100%;
}
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 1100px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
ul, li {
	list-style: none;
	display: inline;
}
.works-container p a:hover {
	color: #000099;
}
ul.filter-items {
	background: #f2f2f3;
    padding: 20px;
    padding-left: 10px;
}
li.filter-item {
	margin-left: 10px;
	padding: 10px;
	background-color: #d7d7da;
}
a {
	color: black;
}
a.active {
	/*background-color: #000099;
	padding: 10px 0 10px 0;
	margin-left: 0px;*/
	text-decoration: none;
	color: #ffffff;
}
/*li.filter-item:active {
	background-color: #000099;
}*//*
    li:active {
	background-color: #000099; 
}*/
a:hover {
    text-decoration: none;
    color: #ffffff;
    /*background-color: #000099;*/
}
/*li.filter-item:hover, li.filter-item.active {
	color: #ffffff;
}*/
.filter-items {
	display: table;
	width: 100%;
}
h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
#logo-img {
	background: url('../images/logo.gif');
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
    margin: -15px 0px 10px 10px;
}
.bg { 
    /* The image used */
    background-image: url("../images/main.jpg");
   

    /* Full height */
    height: 82%; 

    /* Center and scale the image nicely */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -20px;   
}
.div1 {
    float: left;
    width: 350px;
    height: 250px;
    margin: 0px auto 20px;
    /*border: 3px solid black;*/
    text-align: center;


}
.div2 {
  /*border: 1px solid red;*/
  clear: right;
  margin: 20px 200px 0px 500px;
}
.category-tile {
	position: relative;
	border: 1px black;
	overflow: hidden;
	width: 350px; /*if to put width its gonna automat center itself*/
	height: 250px;
	margin: 0 auto 15px;
}
.category-tile span {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: gray;
	color: white;
	opacity: .8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
h1.collaboration {
	text-align: center;
}
h2 {
	margin-bottom: 50px;
}
.footer {
	background-color:#d7d7da;
	color: #ffffff;
	width: 100%;
    text-align: center;
    height: 80px;
 }
/*body {
	font-size: 16px;
	color: black;
	background-color:	#F0FFFF;
	font-family: 'Oxigen' sans-serif;
	margin-bottom: 45px;

}*/
/*#header-nav {
	background-color: #F0FFFF;
	border-radius: 0;
	border: 0;

}

/*.navbar-brand {
	padding-top: 0px;
}*/
/*.navbar-brand h1 { /*Fucina degli angeli*/
   /* font-family: 'PT Sans', sans-serif;
    color: #2e2eb8;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 5px;
}*/
/*
.navbar-brand p { /*fondata da Egidio Costantini*/
	/*font-size: 1.1em;
} */
/*.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 5px;
}
#nav-list a {
	text-align: center;
}
#nav-list a:hover {
	color: #2e2eb8;
}
#nav-list a span {
	font-size: 1.5em;
	margin-right: 10px;
}*/
/*.navbar-header button.navbar-toggle {*/
	/*margin-top: -30px;*/

/*}*/
/*.contacts {
	font-size: 1.3em;
}
.info {
	font-size: .8em;
}

.certificate {
	text-align: left;
	margin-left: 10px;
	margin-right: 0px;

}
.img-responsive {
	margin-left: 0px;
}*/
@media (max-width: 991px) {
	.container {
		width: auto;
	}
	.div2 {
		margin: 20px 100px 0px 400px;
	} 

	/*#nav-list a span {
	font-size: .9em;
	}*/
	
	/*Header*/
	/*.navbar-brand h1 {
	font-size: 4vw;	
	}*/
    
    /*Logo*/
	/*#logo-img {
		width: 65px;
		height: 60px;
		margin: 5px 0px 5px 0px;
		
	}*/
}
@media (max-width: 768px) {
	.col-xxs-12 {
		position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
	}
	.container {
		width: auto;
	}
	.div1 {
		margin: auto;
		width: 100%;
		padding: 10px;
	}
	.div2 {
		margin: auto;
		width: 100%;
		padding: 10px;
		/*border: 3px solid green;*/
	}
	.div2 img {
	    margin: auto;
        width: 100%;
        vertical-align: middle;
	}
    .filters {
    	display: none;
    }
	.visible-xs {
		display: block;
		width: 100%;
		margin: 0 auto 0;
	}
	.visible-xs a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    }

    .visible-xs a:hover {
    background-color: #000099;
    color: white;
    }

    .previous {
    background-color: #d7d7da;
    color: black;
    }

    .next {
    background-color: #d7d7da;
    color: black;
    }
    .unclicable, a.unclicable:hover {
    background-color: #f2f2f3;
    color: black;

    }
    .bg { 
    /* The image used */
    background-image: url("../images/mob_main.jpg");
}
	/*Header*/
	/*.navbar-brand h1 {
		font-size: 6vw;
		margin-top: 5px;
		margin-left: -5px;
	}
	.navbar-brand p {
		font-size: 3.5vw;
		margin-left: -5px;
		
	}
	/*Logo*/
	/*#logo-img {
		width: 65px;
		height: 60px;
		margin: 5px 0px 5px 5px;
	}*/
}
