body, html {
    height: 100%;
    margin: 0;
}
body {
  
  text-align: center;
 
  /*padding-top:10em;*/
}

h1 {
	color: #fff;
	font-size: 50px;
}
h2 {
	font-size: 50px;
	
	margin: 0;
}
.mywork {
	font-size: 60px;
	float: right;
	margin-right: 150px;

}


.content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  
  
}
.all {
	width: 100%;
	position: absolute;
	bottom: 100px;
	font-size: 24px;
	color: #fff;
	opacity: 0.75;
}
.myWork {
	
	
}
button {
	background-color: transparent;
	border: none;
	
	outline: none;

}



/*******NAVIGATION********/
/*.navbar.navbar-default {
	border: 0;
	border-radius: 0px;
	
}
.navbar-brand h1 {
	color: #2d2d2d;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #cecaca;
	text-transform: uppercase;
	line-height: .75;
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list .active {
	color: #b38f00;
}
#nav-list li{
	text-transform: uppercase;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.active {
	color: yellow;
}
.sort-container {
	background-color: #f3f2f1;
}
.sort-container h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 20px 0 10px 110px;
	padding-top: 
}
.sort-container p {
	padding: 0 0 10px 110px;
	font-style: italic;
}*/
.bg1 {
    /* The image used */
    background-image: url("../images/main2.JPG");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg2 {
	/*background-image: none;*/
    background-color: #e8e8e8;
	height: 100%;

	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.typedtext {
	font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;
  float: right;
}
.image1 {
	height: 90%;
}
.bg3 {
	background-image: none;
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/**************** Large devices only ***************/
@media (min-width: 1200px) {
	
}
/**************** Medium devices only ***************/
@media (min-width: 992px) and (max-width: 1199px) {
    
}
/**************** Small devices only ***************/
@media (min-width: 768px) and (max-width: 991px) {
	
}
/**************** Extra small devices only ***************/
@media (max-width: 767px) {
	.bg {
		background-image: none;
		background-color: pink;
	}
	

}   